/* raleway-700 */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../sass/base/fonts/raleway-v22-latin-700.woff2") format("woff2"), url("../sass/base/fonts/raleway-v22-latin-700.woff") format("woff");
  font-display: auto;
}

/* roboto-regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../sass/base/fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"), url("../sass/base/fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff");
  font-display: auto;
}

/* roboto-500 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../sass/base/fonts/roboto-v29-latin_cyrillic-500.woff2") format("woff2"), url("../sass/base/fonts/roboto-v29-latin_cyrillic-500.woff") format("woff");
  font-display: auto;
}

/* roboto-700 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../sass/base/fonts/roboto-v29-latin_cyrillic-700.woff2") format("woff2"), url("../sass/base/fonts/roboto-v29-latin_cyrillic-700.woff") format("woff");
  font-display: auto;
}

/* roboto-900 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../sass/base/fonts/roboto-v29-latin_cyrillic-900.woff2") format("woff2"), url("../sass/base/fonts/roboto-v29-latin_cyrillic-900.woff") format("woff");
  font-display: auto;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: #757575;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

/* hidden header */
.form-subscription__label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.site-nav, .contacts, .card-set, .footer-contacts, .social {
  list-style: none;
  padding: 0;
  margin: 0;
}

.logo-header, .logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19231;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.form-subscription__btn {
  color: #ffffff;
  background-color: #2196f3;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  cursor: pointer;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  height: 80px;
}

.logo-header {
  color: #000000;
  margin-bottom: 0px;
}

.logo-header__text {
  color: #2196f3;
}

.logo-footer {
  color: #ffffff;
  display: block;
  margin-bottom: 20px;
}

.logo-footer__text {
  color: #2196f3;
}

.site-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
  padding-left: 0;
}

.site-nav__item:not(:first-child) {
  margin-left: 50px;
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  margin-bottom: 0px;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.site-nav__link {
  position: relative;
}

.site-nav__link::after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  opacity: 0;
}

.site-nav__link:hover::after, .site-nav__link:focus::after {
  opacity: 1;
}

.contacts {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
}

.contacts__item:last-child {
  margin-left: 50px;
}

.contacts__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: #757575;
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts__icon {
  margin-right: 10px;
}

.filter {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms transition-timing, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn {
  margin-top: 94px;
  margin-right: 8px;
  border-radius: 4px;
  padding: 6px 22px;
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__btn:hover, .filter__btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}

.hide {
  display: none;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
}

.card-set__item {
  width: 370px;
  margin: 15px;
  border: 1px solid #ececec;
}

.card-set__item:hover {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.product__meta {
  padding: 20px 24px;
}

.product__name {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  padding-top: 0;
  padding-bottom: 4px;
}

.product__text {
  color: .product__text text-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 0;
}

.product {
  position: relative;
  overflow: hidden;
}

.product:hover .product__overlay,
.product:focus .product__overlay {
  transform: translateY(0%);
  visibility: visible;
}

.product__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  visibility: hidden;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: white;
  margin: 0;
  padding: 0;
}

.page-footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.container.footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-social {
  margin-top: 12px;
  margin-left: 70px;
}

.footer-contacts {
  margin-bottom: 0;
  padding-left: 0;
}

.location {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: #2196f3;
}

.footer-social__title,
.form-subscription__title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}

.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon:hover, .social__icon:focus {
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.form-subscription {
  margin-top: 12px;
  margin-left: 93px;
}

.form-subscription__block {
  display: block;
  margin: 0;
  padding: 0;
}

.form-subscription__input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: none;
}

.form-subscription__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.form-subscription__btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px / 16px;
  letter-spacing: 0.06em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: 12px;
  padding: 10px 0px;
  min-width: 200px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscription__btn:hover, .form-subscription__btn:focus {
  border-radius: 4px;
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-icon {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */