@media (min-width: 768px) and (max-width: 1199px) {
  .advantage-cards__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .advantage-cards__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}
