.contacts {
  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 21px 0;
  }
}

// .contacts__link {
//   @media (min-width: 768px) and (max-width: 1199px) {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//   }
// }

// .contacts__item {
//   &:not(:last-child) {
//     @media (min-width: 768px) and (max-width: 1199px) {
//       margin-bottom: 10px;
//     }
//   }
// // }

.contacts__link {
  @media (min-width: 768px) and (max-width: 1199px) {
    @include fontStyle(500, 12px, 14px, 0.02em);
  }
}

.contacts__icon {
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}

.contacts__icon {
  @media (min-width: 768px) and (max-width: 1199px) {
    display: none;
  }
}

.contacts__icon--tab {
  @media (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}
