.backdrop {
  @media (min-width: 768px) and (max-width: 1199px) {
    overflow-y: scroll;
  }
}

body.modal-open {
  overflow: hidden;
}

.modal {
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
  }
}

/*Form modal*/
.signup-form__title {
  @media (min-width: 768px) and (max-width: 1199px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: (30 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
  }
}

.checkbox-label {
  @media (min-width: 768px) and (max-width: 1199px) {
    @include fontStyle(400, 12px, 14px, 0.03em);
  }
}
