.page-footer {
  background-color: $primary-bg-color;
  padding: 60px 0;
}

.container.footer {
  display: flex;
  flex-wrap: wrap;
}

.footer-social {
  margin-top: 12px;
  margin-left: 70px;
}

.footer-contacts {
  @extend %lists;
  margin-bottom: 0;
  padding-left: 0;
}

.location {
  color: $white-color;
  @include fontStyle(400, 14px, 24px, 0.03em);
  font-style: normal;
  text-decoration: none;
}

.footer-contacts__link {
  color: rgba(255, 255, 255, 0.6em);
  @include fontStyle(400, 14px, 24px, 0.03em);
  font-style: normal;
  text-decoration: none;

  display: inline-block;
  margin-bottom: 9px;

  transition: color 250ms $transition-timing;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-social__title,
.form-subscription__title {
  color: $white-color;
  @include fontStyle(700, 14px, 16px, 0.03em);
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 20px;
}

.social {
  @extend %lists;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__icon {
  border-radius: 50%;
  fill: $third-icon;
  background-color: rgba(255, 255, 255, 0.1);
  transition: fill 250ms $transition-timing, background-color 250ms $transition-timing,
    filter 250ms $transition-timing;

  &:hover,
  &:focus {
    background-color: $secondary-icon;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
