.site-nav {
  @extend %lists;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
  padding-left: 0;
}

.site-nav__item {
  &:not(:first-child) {
    margin-left: 50px;
  }
}

.site-nav__link {
  color: $title-color;
  @include fontStyle(500, 14px, 16px, 0.02em);
  text-decoration: none;

  display: block;
  margin-bottom: 0px;
  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms $transition-timing, opacity 250ms $transition-timing;

  &:hover,
  &:focus {
    color: $accent-color;
    fill: $secondary-icon;
  }
}

.site-nav__link {
  position: relative;

  &::after {
    @include position();
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    opacity: 0;
  }
}

.site-nav__link {
  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}
