/* raleway-700 */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../sass/base/fonts/raleway-v22-latin-700.woff2') format('woff2'),
    url('../sass/base/fonts/raleway-v22-latin-700.woff') format('woff');
  font-display: auto;
}

/* roboto-regular */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('../sass/base/fonts/roboto-v29-latin_cyrillic-regular.woff2') format('woff2'),
    url('../sass/base/fonts/roboto-v29-latin_cyrillic-regular.woff') format('woff');
  font-display: auto;
}

/* roboto-500 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('../sass/base/fonts/roboto-v29-latin_cyrillic-500.woff2') format('woff2'),
    url('../sass/base/fonts/roboto-v29-latin_cyrillic-500.woff') format('woff');
  font-display: auto;
}

// /* roboto-regular */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 400;
//   src: local(''), url('../sass/base/fonts/roboto-v29-latin-regular.woff2') format('woff2'),
//     url('../sass/base/fonts/roboto-v29-latin-regular.woff') format('woff');
//   font-display: auto;
// }

// /* roboto-500 */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 500;
//   src: local(''), url('../sass/base/fonts/roboto-v29-latin-500.woff2') format('woff2'),
//     url('../sass/base/fonts/roboto-v29-latin-500.woff') format('woff');
//   font-display: auto;
// }

/* roboto-700 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('../sass/base/fonts/roboto-v29-latin_cyrillic-700.woff2') format('woff2'),
    url('../sass/base/fonts/roboto-v29-latin_cyrillic-700.woff') format('woff');
  font-display: auto;
}

// /* roboto-700 */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   src: local(''), url('../sass/base/fonts/roboto-v29-latin-700.woff2') format('woff2'),
//     url('../sass/base/fonts/roboto-v29-latin-700.woff') format('woff');
//   font-display: auto;
// }

// /* roboto-900 */
// @font-face {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 900;
//   src: local(''), url('../sass/base/fonts/roboto-v29-latin-900.woff2') format('woff2'),
//     url('../sass/base/fonts/roboto-v29-latin-900.woff') format('woff');
//   font-display: auto;
// }

/* roboto-900 */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(''), url('../sass/base/fonts/roboto-v29-latin_cyrillic-900.woff2') format('woff2'),
    url('../sass/base/fonts/roboto-v29-latin_cyrillic-900.woff') format('woff');
  font-display: auto;
}
