body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: (24 / 14);
  letter-spacing: 0.03em;

  background-color: #ffffff;
  color: #757575;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}
