/* hidden header */
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

%lists {
  list-style: none;

  padding: 0;
  margin: 0;
}

%logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: (31 / 26);
  letter-spacing: 0.03em;
  text-decoration: none;
}

%button {
  color: $white-color;
  background-color: $accent-color;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 4px;
  cursor: pointer;
}
