@media screen and (min-width: 1200px) {
  .advantage-cards__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .advantage-cards__item {
    @include alignCards(4, 30px);
    max-width: 270px;
  }
}
