@media screen and (min-width: 1200px) {
  .contacts {
    display: inline-flex;
  }

  .contacts__item {
    &:last-child {
      margin-left: 50px;
    }
  }

  .contacts__link {
    display: block;
  }
}
