.backdrop {
  @media screen and (min-width: 1200px) {
    overflow-y: scroll;
  }
}

body.modal-open {
  overflow: hidden;
}

.modal {
  @media screen and (min-width: 1200px) {
    max-width: 528px;
    height: 581px;
  }
}

/*Form modal*/
.signup-form__title {
  @media screen and (min-width: 1200px) {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: (23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: $title-color;
  }
}

.checkbox-label {
  @media screen and (min-width: 1200px) {
    @include fontStyle(400, 14px, 24px, 0.03em);
  }
}
