@media screen and (min-width: 1200px) {
  .site-nav {
    display: flex;
    margin-left: 93px;
  }

  .site-nav__item {
    &:not(:first-child) {
      margin-left: 50px;
    }
  }

  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .site-nav__link {
    position: relative;

    &::after {
      @include position();
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: $accent-color;
      border-radius: 2px;
      opacity: 0;
    }
  }

  .site-nav__link {
    &:hover::after,
    &:focus::after {
      opacity: 1;
    }
  }
}
