@media screen and (max-width: 767px) {
  .client__title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .client-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .client-list__item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .client-list__link {
    padding: 16px 0;
  }
}
