@media screen and (max-width: 480px) {
  .hero {
    width: 100%;
    margin: 0 auto;
    padding: 118px 0px;
  }

  .hero__title {
    @include fontStyle(900, 26px, 42px, 0.06em);
    text-align: center;
    // text-transform: uppercase;

    max-width: 360px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
