.mobile-nav,
.mobile-contacts,
.mobile-social {
  @extend %lists;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $white-color;
}

.menu-container.is-open {
  display: block;
}
.menu-toggle {
  display: block;
}
.menu-container .menu-toggle {
  display: block;
}
.mobile-nav {
  display: block;
}
.mobile-nav__link {
  color: $title-color;
  @include fontStyle(500, 40px, 47px, 0.02em);
  text-decoration: none;
}
.mobile-contacts {
  display: block;
}
.mobile-contacts__link {
  color: $text-color;
  @include fontStyle(500, 34px, 40px, 0.02em);
  text-decoration: none;
}
.mobile-social {
  display: block;
}
.mobile-social__item {
  display: block;
}
.mobile-social__link {
  color: $accent-color;
  @include fontStyle(500, 18px, 22px, 0.02em);
  text-decoration: none;
}
