@media screen and (max-width: 767px) {
  .page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer-contacts {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .footer-social__title,
  .form-subscription__title {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .footer-social {
    text-align: center;
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 767px) {
  .social__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}
